{% extends 'main/base.html' %} 
{% block title %}
    NetFix
{% endblock %}

{% block content %}
    <div style="margin-top: 50px; text-align: center;">
        <p class="site_title">NetFix</p>
        <img class="home_logo" src="static/css/logo.png" alt="logo">
        
        <!-- Most Requested Services Section -->
        <div style="margin-top: 30px;">
            <h2>Most Requested Services</h2>
            <div style="max-width: 600px; margin: 0 auto; text-align: left;">
                {% if most_requested_services %}
                    {% for service in most_requested_services %}
                        <div style="padding: 10px; border-bottom: 1px solid black;">
                            <a href="/services/{{service.id}}">{{service.name}}</a> 
                            <span>({{service.field}})</span>
                            <span style="float: right;">{{service.price_hour}}€/hour</span>
                            by  <a href="/company/{{service.company}}">{{service.company}}</a>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No services have been requested yet.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

  